/* User:1Veertje/Catapult/styles.css */

#CatapultPanel {
	box-sizing: border-box;
}

#CatapultPanelActions {
	box-sizing: border-box;
}

#CatapultPanelBody img {
	max-width: 100%;
}

#CatapultDisambiguationTargetWarning:empty {
	display: none;
}

#CatapultVersion {
	user-select: none;
}

@media (max-width: 720px) {
	#CatapultPanel {
		inset: 8px !important;
		max-height: calc(100vh - 16px) !important;
		width: auto !important;
	}

	#CatapultPanelActions {
		flex-wrap: wrap;
	}
}